.userprofileContainer {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    align-self: center;
}
.userprofilepicture {
    border: solid black 1px;
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}
.userprofilepicture i {
    font-size: 4rem;
}
.dataContainer {
    background-color: white;
    width: 80%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-container {
    height: 15%;
    width: 100%;
    padding: 2%;
    position: relative;
}
.header-container::after {
    content: "";
    width: 95%;
    height: 0.5px;
    position: absolute;
    background-color: grey;
    bottom: -10;
}
.userInformation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 100%;
    gap: 2%;
    padding-top: 5%;
}
.userInformation label {
    font-weight: bold;
    align-self: start;
    height: 100%;
}
.informationContainer {
    width: 80%;
    background-color: white;
    border: solid black 1px;
    border-radius: 5px;
    margin: 0.5%;
    padding: 2%;
}
.section-sex-gender-option {
    width: 100%;
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2%;
}
.saveButton {
    padding: 2%;
    background-color: var(--dark-green);
    color: white;
    border: solid 1px white;
    border-radius: 5px;
    transition: 0.2s linear;
    margin-left: auto;
}
.saveButton:hover,
.btn-logout:hover {
    background-color: white;
    color: var(--dark-green);
    border: solid 1px var(--dark-green);
    cursor: pointer;
}
.rowContainer {
    display: flex;
    justify-content: start;
    width: 100%;
}

.firstColumnContainer {
    display: flex;
    justify-content: start;
    flex-direction: column;
    height: 100%;
    width: 30%;
    padding-top: 1%;
    gap: 6%;
}
.firstColumnContainer label {
    align-self: end;
    height: 8%;
}
.secondColumnContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 100%;
    width: 70%;
    gap: 2%;
}
/*---------profile picture section--------*/
.profile-picture-section {
    height: 90%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 5%;
}
.profile-picture-section p {
    font-size: 0.8rem;
    align-items: center;
    font-weight: bold;
}
.profile-picture-section:before {
    content: "";
    height: 100%;
    width: 0.1px;
    position: absolute;
    background-color: grey;
    left: 0;
}
.btn-update-image {
    padding: 2%;
}
.btn-logout {
    margin-top: 2rem;
    color: white;
    background-color: var(--dark-green);
    border: none;
    width: 100%;
    height: 2rem;
    border-radius: 1rem;
    transition: 0.2s linear;
}
form {
    width: 100%;
}
/*---------side bar section--------*/
.side-bar-section {
    width: 20%;
    height: 100%;
    font-size: 0.8rem;
    padding: 2%;
}
.mini-profile-section {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.mini-profile-picture {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    font-size: 2rem;
}
.side-bar-link-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.side-bar-link-column {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 90%;
}
.side-bar-link-column p {
    margin-top: 15%;
    gap: 5%;
    width: 100%;
}
.side-bar-link-column p:hover {
    cursor: pointer;
    color: var(--dark-green);
}
.side-bar-link-column p i {
    margin-right: 5%;
}
