* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #f9fafb;
}

/* NAVBAR */
.navbar {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    background-color: var(--mid-green);
    height: 15vh;
}
.logo-container {
    height: 100%;
}
.logo-image {
    height: 100%;
    width: auto;
}
.form {
    margin-left: 1rem;
    background-color: white;
    width: 55 %;
    height: 50%;
    padding: 0;
    gap: 1%;
    display: flex;
    align-items: center;
    border-radius: 5rem;
}
.form select {
    height: 100%;
    width: 15%;
    border-radius: 5rem 0 0 5rem;
    border: none;
    padding-left: 2%;
    position: relative;
}

.form input {
    border-radius: 5rem;
    height: 100%;
    width: 73.5%;
    border: none;
    padding-left: 3%;
}
#.navbar nav {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.btn-search {
    width: 9%;
    height: 90%;
    border: none;
    background-color: var(--mid-green);
    border-radius: 5rem;
    color: white;
}

.buttons-container {
    height: 30%;
    width: 10%;
    display: flex;
    justify-content: end;
    position: relative;
}
.buttons-container:after {
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -10;
    content: "";
    background-color: var(--light-grey);
}
.btn-account {
    background-color: var(--mid-green);
    border: none;
    height: 100%;
    padding: 0 1rem;
    font-size: 1.2rem;
}
.profile-container {
    height: 3rem;
    gap: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-image-container {
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    color: white;
    font-size: 3rem;
}
.profile-container img {
    height: 100%;
    width: auto;
}

.form-profile-option select {
    color: white;
    background-color: var(--mid-green);
    border: none;
}
