body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
.main-container {
    background-color: red;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand-container {
    width: 50%;
    height: 100%;
    background-color: var(--dark-green);
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    color: white;
}
.brand-container h2 {
    font-weight: 100;
}
.brand-container i {
    font-size: 2rem;
    position: absolute;
    top: 10;
    left: 20;
    color: white;
}
.brand-container i:hover {
    cursor: pointer;
}
.brand-image {
    width: 60%;
    height: auto;
}
.login-container {
    width: 50%;
    height: 100%;
    background-color: var(--natural-grn);
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 80%;
    background-color: white;
}
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 90%;
    gap: 2%;
}
.form a {
    text-decoration: none;
    color: var(--light-blue);
    font-size: 0.8rem;
}
.login-button {
    background-color: var(--dark-green);
    color: white;
    border: none;
    height: 2.3rem;
    width: 100%;
    border: solid white 1px;
    transition: linear 0.2s;
}
.login-button:hover {
    cursor: pointer;
    border: solid black 1px;
}
.input-field {
    width: 100%;
    height: 2.3rem;
    padding-left: 4%;
}
.form-container label {
    align-self: start;
}

.sign-up-container {
    color: var(--light-grey);
    font-size: 0.8rem;
}
.terms-and-condition-container {
    margin-top: 1rem;
    height: 4rem;
    text-align: center;
    color: var(--light-grey);
    font-size: 0.8rem;
}
.form p {
    position: relative;
    color: #cbcbcb;
    font-size: 0.7rem;
}
.form p:before {
    content: "";
    width: 7rem;
    height: 1px;
    background-color: var(--light-grey);
    position: absolute;
    top: 8;
    left: 25;
}
.form p:after {
    content: "";
    width: 7rem;
    height: 1px;
    background-color: var(--light-grey);
    position: absolute;
    right: 25;
    top: 8;
}
.login-with-buttons-facebook {
    height: 2.3rem;
    width: 100%;
    background-color: #3d74b6;
    border: solid 1px white;
    color: white;
    text-align: start;
    padding-left: 5%;
    transition: linear 0.2s;
}
.login-with-buttons-google {
    height: 2.3rem;
    width: 100%;
    background-color: white;
    border: solid 1px var(--light-grey);
    text-align: start;
    padding-left: 5%;
    transition: linear 0.2s;
}
.login-with-buttons-google:hover,
.login-with-buttons-facebook:hover {
    border: 1px solid black;
    cursor: pointer;
}
.login-with-buttons-google i,
.login-with-buttons-facebook i {
    margin-right: 30%;
}
.platforms-container button {
    height: 100%;
    width: 47%;
}
